.cardContainer{
    display: flex;
    flex-direction:row ;
    padding: 24px;
    gap: 48px;
    margin-left: 128px;
    margin-right: 128px;
    margin-bottom: 32px;
    border: 1px solid blue;
   
}

.photo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.avatarWrapper{
    display: flex;
    width: 120px;
    height:120px;
    padding: 8px;
    border: 2px solid #FBE9BA;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}